@charset "UTF-8";

/* FONTES */
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

/* VARIAVEIS */

:root {
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-1: "Passion One", sans-serif;
    --fonte-2: "Sriracha", sans-serif; 
}

/* Global */

* {
    margin: 0px;
    padding: 0px;
}

/* Geral */

body {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

/* Cabeçalho */

header {
    background-color: black;
}

header > h1 {
    color: white;
    text-align: center;
    font-family: var(--fonte-1);
    font-weight: normal;
    font-size: 2.5em;
    padding: 10px;
    margin-bottom: -10px;
    padding-top: 40px;
}

header .titulo {
    font-size: 1.3em;
}

header > p{
    color: white;
    text-align: center;
    font-family: var(--fonte-padrao);
    font-weight: bold;
    font-size: 0.8em;
    padding-bottom: 45px;
}

header  strong {
    color: gray;
    font-weight: bold;
}

/* Pagina 1 */

#pagina1 {
    font-family: var(--fonte-2);
    min-width: 300px;
    max-width: 1000px;
    width: 100%;
    margin-left: 250px;
}

#pagina1 > p {
    padding: 15px;
    margin-top: 55px;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.3em;
}

