@charset "UTF-8";

/*Global*/

*{
    /*margem e preenchimento*/
    margin: 0px;
    padding: 0px;
    /*fonte*/
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /*caixa*/
    box-sizing: border-box;
}

/*Geral*/

body , html {
    /*fundo*/
    background-color: rgb(230, 228, 228);
    /*tamanho*/
    width: 100vw;
    height: 100vh;
    /*texto*/
    font-size: 1em;
}

/*Cabeçalho*/

header {
    /*caixa*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    /*fundo*/
    background-color: gray;
    /*margem e preenchimento*/
    padding: 10px;
}

header > h1 {
    /*flex*/
    flex: 0 0 200px;
    /*texto*/
    color: white;
    /*sombra*/
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.699);
    /*borda*/
    border: 2px dotted black
}

/*Menu*/

nav {
    /*caixa*/
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;

    /*borda*/
    border: 2px dotted black
}

nav > a {
    /*fundo*/
    background-color: black;
    /*texto*/
    color: white;
    text-decoration: none;
    text-align: center;
    /*margem e preenchimento*/
    padding: 10px;
    margin: 5px;
    /*borda*/
    border-radius: 5px;
}

nav > a:hover {
    /*fundo*/
    background-color: white;
    /*texto*/
    color: black;
    /*transição*/
    transition: background-color 0.5s;
}
    

/*Conteúdo*/

main {
    /*caixa*/
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.438);
    /*fundo*/
    background-color: white;
    /*margem e preenchimento*/
    margin: 10px;
    padding: 10px;
    /*borda*/
    border-radius: 10px;

}